/*  Global Properties  */
* { 
    font-family: 'Roboto', sans-serif; 
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 { font-family: 'Montserrat', sans-serif; }

/*  Navigation Bar  */

nav { border: 1px solid lightgrey; }
nav li { position: relative; }

nav a::after {
    background-color: green;
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::after { width: 100%; }

#logo {
    font-size: 3rem;
    color: black;
}

#start-btn {
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 250px;
}

#start-btn:hover {
    background-color: white;
    color: green;
}

/*  Footer  */

#follow {
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

#contact {
    color: white;
    font-size: 1.5rem;
}

#send-email {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    width: 200px;
}

#send-email:hover {
    background-color: white;
    color: red;
}

#footer-info { font-size: large; }

#top { 
    cursor: pointer;
    color: white; 
}

/*  Features  */

#feature { width: 100%; }
#description { font-size: larger; }
#about img { height: 12rem; }

#about-me {
    height: 100vh;
    background: url('./img/dark.jpeg');
    background-position: center;
    background-size: cover;
}

@media (max-width: 810px) {
    #title, #about, #subtitle { font-size: x-large; }
    #description { font-size: medium; }
    #about img { height: 10rem; }
}

@media (max-width: 770px) {
    #carousel { display: none; }
}

@media (max-width: 450px) {
    #about { font-size: large; }
    #title, #subtitle { font-size: large; }
    #description { font-size: smaller; }
    #about img { height: 7rem; }
    #start-btn { 
        font-size: small; 
        height: 40px;
        width: 150px;
    }

    #send-email {
        font-size: small; 
        height: 40px;
        width: 150px;
    }

    #footer-info, #email, #message { font-size: small; }
    #contact { font-size: 1rem; }
    #follow { font-size: 1.5rem; }
}